{
  "log": {
    "loglevel": "none"
  },
  "inbounds": [{
    "listen": "0.0.0.0",
    "port": 443,
    "protocol": "vless",
    "settings": {
      "clients": [
      {
        "id": "{{ xray_uuid.stdout}}",
        "email": "default",
        "flow": "xtls-rprx-vision"
      }],
      "decryption": "none"
    },
    "streamSettings": {
      "network": "tcp",
      "security": "reality",
      "realitySettings": {
        {% if vless.steal_self %}
        "dest": "127.0.0.1:{{ vless.port }}",
        {% else %}
        "dest": "{{ vless.domain }}:443",
        {% endif %}
        "serverNames": [
          "{{ vless.domain }}"
        ],
        "privateKey": "{{ x25519_pik.stdout }}",
        "shortIds": [
          "{{ short_id.stdout }}"
        ],
        "spiderX": "/"
      }
    },
    "sniffing": {
      "enabled": true,
      "destOverride": [
        "http",
        "tls",
        "quic"
      ],
      "routeOnly": true
    }
  }],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}