{
  "log": {
    "loglevel": "none"
  },
  "inbounds": [{
    "listen": "0.0.0.0",
    "port": 443,
    "protocol": "vless",
    "settings": {
      "clients": [
      {
        "id": "{{ xray_uuid.stdout}}",
        "email": "default",
        "flow": "xtls-rprx-vision"
      }],
      "decryption": "none"
    },
    "streamSettings": {
      "network": "tcp",
      "security": "reality",
      "realitySettings": {
        "dest": "127.0.0.1:4123",
        "serverNames": [
          "{{ vless.domain }}"
        ],
        "privateKey": "{{ x25519_pik.stdout }}",
        "shortIds": [
          "{{ short_id.stdout }}"
        ],
        "spiderX": "/"
      }
    },
    "sniffing": {
      "enabled": true,
      "destOverride": [
        "http",
        "tls",
        "quic"
      ],
      "routeOnly": true
    }
  }],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct",
      "settings": { "domainStrategy": "UseIPv4" }
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ],
  "routing": {
    "rules": [
        {"protocol": "bittorrent", "outboundTag": "block"}
    ],
    "domainStrategy": "IPIfNonMatch"
  },
  "dns": {
    "servers": [
      "1.1.1.1",
      "8.8.8.8"
    ],
    "queryStrategy": "UseIPv4",
    "disableFallback": false,
    "tag": "dns-aux"
  }
}