services:
  caddy:
    image: caddy:2.9
    restart: always
    network_mode: host
    volumes:
      - ./caddy/data:/data
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./marzban_lib:/run/marzban
  marzban:
    image: gozargah/marzban:v0.8.4
    restart: always
    env_file: ./marzban/.env
    network_mode: host
    volumes:
      - ./marzban_lib:/var/lib/marzban
      - ./marzban/xray_config.json:/code/xray_config.json
      - ./marzban/templates:/var/lib/marzban/templates